@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

.main {
  background: #2b2a29;
  color: white;
  font-family: Spartan;
  min-height: 100vh;

  a {
    color: #3cf2f5;
  }
}
